
main .conatainer-perfil .topo-perfil{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom:1px #676767 solid;
}

main .conatainer-perfil .topo-perfil a{
        margin-left: 10px;
}

main .conatainer-perfil .topo-perfil span{
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

main .conatainer-perfil .topo-perfil svg{
    color: rgb(23, 191, 99);
    font-size: 25px;
    width: 30px;
    height: 30px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

main .conatainer-perfil .topo-perfil svg:hover{
    background: rgba(23, 191, 99, 0.13);
  
    border-radius: 30px;
}


main .conatainer-perfil .container-capa{

 width:100%;
 height:auto;
}
main .conatainer-perfil .container-capa .capa {
     display: flex;
    justify-content: flex-end;
    align-items: end;
}

main .conatainer-perfil .container-capa .capa img{
    width: 100%;
    min-height: 90px;
    background-color: #e6e6e6;

}

main .conatainer-perfil .container-capa .capa a{
   position: absolute;
    background: #ffffffbd;
    width: 40px;
    height: 40px;
    display: none;
    font-size: 26px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: -7px;
    cursor:pointer;
}

main .conatainer-perfil .container-capa .capa:hover a{
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

main .conatainer-perfil .container-capa .perfil-capa{
    max-width: 135px;
    position: absolute;
    margin-top: -69px;
    margin-left: 16px;
        display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 130px;
    border: 3px #141f2b solid;
    cursor:pointer;
    	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

main .conatainer-perfil .container-capa .perfil-capa img{
    width: 100%;
    height: 135px;
    border-radius: 100px;
}

main .conatainer-perfil .container-capa .perfil-capa a{
    position: absolute;
    background: #ffffff75;
    width: 40px;
    height: 40px;
    display: none;
    font-size: 26px;
    border-radius: 30px;
  
}

main .conatainer-perfil .container-capa .perfil-capa:hover{
       	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

main .conatainer-perfil .container-capa .perfil-capa:hover a{
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

main .conatainer-perfil .container-capa .perfil-dados-pessoal{
  
    width: 100%;
    height: 90px;
    display: flex;
    align-items: flex-end;
    padding: 5px 0 20px 20px;
    font-size: 16px;
    color: white;
}